* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;   
	min-height: 100vh;
    background-image:url("../picture/2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

h1 {
    text-align: center;
    margin-top: 50px;
    padding-top: 0px;
    margin-left: 50px;
}

.box {
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    width: 750px;
    height: 450px;
    background-color: rgba(0,0,0,.5);    
    border-radius: 20px;
    color: #fff;
}

.input-box {
    width: 380px;
    height: 250px;
    color: #fff;
    margin-top: 40px;
}

.rewrite-label /deep/ .el-form-item__label {
    color: #fff;  
    font-size: 16px;
} 

.el-input__inner {
    background-color: #ffffff00;
    color: #fff; 
}


