* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;   
	min-height: 100vh;
    background-image:url("../picture/2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.start-box {
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    width: 600px;
    height: 300px;
    background-color: rgba(0,0,0,.5);
    border: 10px;
    padding: 20px 50px;
    border-radius: 20px;
}

h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 36px;
}

a {
    text-decoration:none;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 18px;
}

a:hover{color:orange}
